<%= $player_1.name %> vs. <%= $player_2.name %>

<% if params[:attack] %>
<% $player_2.reduce_hit_points %>
<%= $player_1.name %> attacked <%= $player_2.name %>
<% end %>

<%= $player_2.name %> HP: <%= $player_2.hit_points %>


<a href="/play?attack=true">Attack!</a>
